<div class="page-header">
  <h1>Audio</h1>
</div>


<% @audio_list.each do |audio| %>
<div class="row">
  <div class="col-md-12">
    <h3><a href="/audio/show"><%= audio %></a></h3>
  </div>
</div>
<% end %>
